<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:workflowfullhistory" type="OneNorth.WorkflowFullHistory.Shell.Framework.Commands.WorkflowFullHistory, OneNorth.WorkflowFullHistory" />
    </commands>
  </sitecore>
</configuration>
